<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add transaction</title>
</head>

<style>
    /*---------Base-------*/
header{
    display: flex;
    width: 100%;
}

header ul {
    width: 100%;
}

header li {
    display: inline;
}

header li a {
    width: 100%;
    background-color: #ccffff;
    padding: 1% 5%;
    border: 1px solid black;
    color:black;
    size: 15px;
}

header li a:hover {
    background: #cc0000;
    text-decoration: underline ;
    cursor: pointer;
}

label, input, select {
    margin-bottom: 15px;
}

</style>

<script type="text/javascript">
    function postAjax(url, data, callback) {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                try {
                    callback(JSON.parse(xhr.responseText))
                } catch(err) {
                    console.log(err.message + " in " + xhr.responseText);
                    return;
                }
            }
        };
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    }

    function load(){
        document.querySelector("#li_Home").addEventListener('click', function (event) {
            window.location.href = "/"
        });

        document.querySelector("#li_Inventory").addEventListener('click', function (event) {
            window.location.href = "/transactions"
        });

        document.querySelector("#li_TotalCost").addEventListener('click', function (event) {
            window.location.href = "/totalCost"
        });

        document.querySelector("#li_AvgCost").addEventListener('click', function (event) {
            window.location.href = "/averageCost"
        });

        document.querySelector("#li_quantity").addEventListener('click', function (event) {
            window.location.href = "/leftQuantity"
        });

        document.querySelector("#divDensity").style.display = "none"
        document.querySelector("#divLabors").style.display = "none"

        document.querySelector("#selectTransaction").addEventListener('change', function (event) {
            checkSelectionsTransaction()
        })

        document.querySelector("#selectionPurchaseBaseOil").style.display = "none"
        document.querySelector("#otherPurchaseConsumable").style.display = "none"

        document.querySelector("#selectionDensityBaseOil").style.display = "none"
        document.querySelector("#otherDensityConsumable").style.display = "none"

        document.querySelector("#selectionLaborsBaseOil").style.display = "none"
        document.querySelector("#otherLaborsConsumable").style.display = "none"

        document.querySelector("#tbPurchaseStotal").value = parseFloat(0).toFixed(2) + " $"
        document.querySelector("#tbPurchaseTax").value = parseFloat(0).toFixed(2) + " $"
        calculTotal()

        document.querySelector("#selectPurchaseConsumable").addEventListener('change', function (event) {
            checkSelections()
        })
        
        document.querySelector("#selectDensityConsumable").addEventListener('change', function (event) {
            checkSelections()
        })

        document.querySelector("#selectLaborsConsumable").addEventListener('change', function (event) {
            checkSelections()
        })

        document.querySelector("#tbPurchaseStotal").addEventListener('change', function (event) {
            calculTotal()
        })

         document.querySelector("#tbPurchaseTax").addEventListener('change', function (event) {
            calculTotal()
        })

        function checkSelections(){
            if(document.querySelector("#selectPurchaseConsumable").value == "HE" || document.querySelector("#selectPurchaseConsumable").value == "Soap"){
                document.querySelector("#selectionPurchaseHE").style.display = "inline"
                document.querySelector("#selectionPurchaseBaseOil").style.display = "none"
                document.querySelector("#otherPurchaseConsumable").style.display = "inline"

            } else if(document.querySelector("#selectPurchaseConsumable").value == "Base Oil"){
                document.querySelector("#selectionPurchaseHE").style.display = "none"
                document.querySelector("#selectionPurchaseBaseOil").style.display = "inline"
                document.querySelector("#otherPurchaseConsumable").style.display = "inline"

            } else{
                document.querySelector("#selectionPurchaseHE").style.display = "none"
                document.querySelector("#selectionPurchaseBaseOil").style.display = "none"
                document.querySelector("#otherPurchaseConsumable").style.display = "none"
            }

            if(document.querySelector("#selectDensityConsumable").value == "HE" || document.querySelector("#selectDensityConsumable").value == "Soap"){
                document.querySelector("#selectionDensityHE").style.display = "inline"
                document.querySelector("#selectionDensityBaseOil").style.display = "none"
                document.querySelector("#otherDensityConsumable").style.display = "inline"

            } else if(document.querySelector("#selectDensityConsumable").value == "Base Oil"){
                document.querySelector("#selectionDensityHE").style.display = "none"
                document.querySelector("#selectionDensityBaseOil").style.display = "inline"
                document.querySelector("#otherDensityConsumable").style.display = "inline"

            } else{
                document.querySelector("#selectionDensityHE").style.display = "none"
                document.querySelector("#selectionDensityBaseOil").style.display = "none"
                document.querySelector("#otherDensityConsumable").style.display = "none"
            }

            if(document.querySelector("#selectLaborsConsumable").value == "HE" || document.querySelector("#selectLaborsConsumable").value == "Soap"){
                document.querySelector("#selectionLaborsHE").style.display = "inline"
                document.querySelector("#selectionLaborsBaseOil").style.display = "none"
                document.querySelector("#otherLaborsConsumable").style.display = "inline"

            } else if(document.querySelector("#selectLaborsConsumable").value == "Base Oil"){
                document.querySelector("#selectionLaborsHE").style.display = "none"
                document.querySelector("#selectionLaborsBaseOil").style.display = "inline"
                document.querySelector("#otherLaborsConsumable").style.display = "inline"

            } else{
                document.querySelector("#selectionLaborsHE").style.display = "none"
                document.querySelector("#selectionLaborsBaseOil").style.display = "none"
                document.querySelector("#otherLaborsConsumable").style.display = "none"
            }
        }   

        function calculTotal(){
            let stotal = document.querySelector("#tbPurchaseStotal").value.replace(/\$/g,'').replace(/\ /g,'')
            let tax = document.querySelector("#tbPurchaseTax").value.replace(/\$/g,'').replace(/\ /g,'')

            let total = parseFloat(stotal) + parseFloat(tax)

            document.querySelector("#tbPurchaseStotal").value = parseFloat(stotal).toFixed(2) + " $"
            document.querySelector("#tbPurchaseTax").value = parseFloat(tax).toFixed(2) + " $"
            document.querySelector("#tbPurchaseTotal").value = total.toFixed(2)  + " $"
        }

        document.querySelector("#btnAddPurchase").addEventListener('click', function (event) {
            addPurchase()
        });

        document.querySelector("#btnAddDensity").addEventListener('click', function (event) {
            addDensity()
        });

        document.querySelector("#btnAddLabors").addEventListener('click', function (event) {
            addLabor()
        });
    } 

    function checkSelectionsTransaction(){
        if(document.querySelector("#selectTransaction").value == "Purchase"){
            document.querySelector("#divPurchase").style.display = "block"
            document.querySelector("#divDensity").style.display = "none"
            document.querySelector("#divLabors").style.display = "none"
        } else if(document.querySelector("#selectTransaction").value == "Density"){
            document.querySelector("#divPurchase").style.display = "none"
            document.querySelector("#divDensity").style.display = "block"
            document.querySelector("#divLabors").style.display = "none"
        } else if(document.querySelector("#selectTransaction").value == "Labor"){
            document.querySelector("#divPurchase").style.display = "none"
            document.querySelector("#divDensity").style.display = "none"
            document.querySelector("#divLabors").style.display = "block"
        }
    }

    function getItem(type){
        switch(type){
            case "purchase": 
                if(document.querySelector("#selectPurchaseConsumable").value == "HE" || document.querySelector("#selectPurchaseConsumable").value == "Soap"){
                    return ("Consumable - " + document.querySelector("#selectPurchaseConsumable").value + " - " + document.querySelector("#selectionPurchaseHE").value)
                } else if(document.querySelector("#selectPurchaseConsumable").value == "Base Oil"){
                    return ("Consumable - " + document.querySelector("#selectPurchaseConsumable").value + " - " + document.querySelector("#selectionPurchaseBaseOil").value)
                } else{
                    return ("Consumable - " + document.querySelector("#selectPurchaseConsumable").value)
                }

            break;

            case "density":
                if(document.querySelector("#selectDensityConsumable").value == "HE" || document.querySelector("#selectPurchaseConsumable").value == "Soap"){
                    return ("Consumable - " + document.querySelector("#selectDensityConsumable").value + " - " + document.querySelector("#selectionDensityHE").value)
                } else if(document.querySelector("#selectDensityConsumable").value == "Base Oil"){
                    return ("Consumable - " + document.querySelector("#selectDensityConsumable").value + " - " + document.querySelector("#selectionDensityBaseOil").value)
                } else{
                    return ("Consumable - " + document.querySelector("#selectDensityConsumable").value)
                } 
            break;

            case "labor": 
                if(document.querySelector("#selectLaborsConsumable").value == "HE" || document.querySelector("#selectPurchaseConsumable").value == "Soap"){
                    return ("Consumable - " + document.querySelector("#selectLaborsConsumable").value + " - " + document.querySelector("#selectionLaborsHE").value)
                } else if(document.querySelector("#selectLaborsConsumable").value == "Base Oil"){
                    return ("Consumable - " + document.querySelector("#selectLaborsConsumable").value + " - " + document.querySelector("#selectionLaborsBaseOil").value)
                } else{
                    return ("Consumable - " + document.querySelector("#selectLaborsConsumable").value)
                }
            break;
        }
    }
    
    function addPurchase(){
        let unit = document.querySelector("#selectPurchaseUnit").value
        let qte = document.querySelector("#tbPurchaseQte").value 
        let stotal = document.querySelector("#tbPurchaseStotal").value.replace(/\$/g,'').replace(/\ /g,'')
        let tax = document.querySelector("#tbPurchaseTax").value.replace(/\$/g,'').replace(/\ /g,'')
        let total = document.querySelector("#tbPurchaseTotal").value.replace(/\$/g,'').replace(/\ /g,'')
        let date = document.querySelector("#tbPurchaseDate").value

        let item = getItem("purchase")

        if(unit && qte && stotal && tax && total && date && stotal != undefined && tax != undefined && total != undefined){
            if( parseFloat(stotal)< 0 ||  parseFloat(tax) < 0 && parseFloat(total) < 0){
                alert("Error: prices can't be lower than 0")
            } else if(qte < 1){
                alert("Error: quantity must be higher than 0")
            }
            else{
                let queryData = JSON.stringify({"date": date, 
                            "item": item, 
                            "qte": qte, 
                            "unit": unit, 
                            "total": parseFloat(total).toFixed(2), 
                            "stotal": parseFloat(stotal).toFixed(2), 
                            "tax": parseFloat(tax).toFixed(2)})
                
                postAjax('/transactions/add/purchase', queryData , function(data) {
                    if(data.result == "Failure" || !(data.result)){
                        alert("Error: There was an error when exporting your item. Check your informations")
                    } else{
                        alert("Success: Your item was exported successfully")
                    }
                })
            }
        } else{
            alert("Error: There was informations that were incorrect. Check your informations")
        }
    }
    
    function addDensity(){
        let g = document.querySelector("#tbDensityG").value 
        let ml = document.querySelector("#tbDensityMl").value 
        let item = getItem("density")

        if(!g || !ml || !(parseFloat(ml) > 0)  || !(parseFloat(g) > 0)){
            alert("Error: Density must have value and they must be higher than 0")
        } else{
            let queryData = JSON.stringify({"item": item, 
                                        "g": g, 
                                        "ml": ml})
        
            postAjax('/transactions/add/density', queryData , function(data) {
                if(data.result == "Failure" || !(data.result)){
                    alert("Error: There was an error when exporting your item. Check your informations")
                } else{
                    alert("Success: Your item was exported successfully")
                }
            })
        }
    }

    function addLabor(){
        let unit = document.querySelector("#selectLaborsUnit").value
        let qte = document.querySelector("#tbLaborsQte").value 
        let date = document.querySelector("#tbLaborsDate").value
        let type = document.querySelector("#tbLaborsDate").value
        let jobId = document.querySelector("#tbLaborsDate").value
        let item = getItem("labor")

        if(unit && qte && date && type && jobId && item){
            let queryData = JSON.stringify({"date": date, 
                            "item": item, 
                            "qte": qte, 
                            "unit": unit, 
                            "type": type, 
                            "jobId": jobId})
        
            postAjax('/transactions/add/labor', queryData , function(data) {
                if(data.result == "Failure" || !(data.result)){
                    alert("Error: There was an error when exporting your item. Check your informations")
                } else{
                    alert("Success: Your item was exported successfully")
                }
            })
        }else{
            alert("Error: There was informations that were incorrect. Check your informations")
        }
    }

</script>

<body onload="load()">
    <header>
            <ul>
                <li id="li_Home">
                    <a>Home</a>
                </li>
                <li id="li_Inventory">
                    <a>Inventory</a>
                </li>
                <li id="li_TotalCost">
                    <a>Total cost</a>
                </li>
                <li id="li_AvgCost">
                    <a>Average Acquisition cost</a>
                </li>
                <li id="li_quantity">
                    <a>Left quantity</a>
                </li>
            </ul>
    </header>

    <h1>Add item</h1>
    <label for="selectTransaction">Item type: </label>
    <select id="selectTransaction">
            <option value="Purchase">Purchase</option>
            <option value="Density">Density</option>
            <option value="Labor">Labor</option>
    </select><br>

    <div id="divPurchase">
        <label for="tbPurchaseItem">Item : Consumable - </label>
        <select id="selectPurchaseConsumable">
            <option value="HE">HE</option>
            <option value="Base Oil">Base Oil</option>
            <option value="Soap">Soap</option>
            <option value="Additive">Additive</option>
            <option value="Soude Caustique">Soude Caustique</option>
            <option value="Emballage">Emballage</option>
        </select>
        <span id="otherPurchaseConsumable"> - </span>
        <select id = "selectionPurchaseHE">
            <option value = "Pin Blanc">Pin Blanc</option>
            <option value = "Eucalyptus Radiata">Eucalyptus Radiata</option>
            <option value = "Lavender">Lavender</option>
            <option value = "Frangipani">Frangipani</option>
            <option value = "Baume du Perou">Baume du Perou</option>
            <option value = "Apple">Apple</option>
            <option value = "Tea Tree">Tea Tree</option>
            <option value = "Ylang Ylang">Ylang Ylang</option>
            <option value = "Lemongrass">Lemongrass</option>
            <option value = "Menthe Poivree">Menthe Poivree</option>
            <option value = "Pepermint">Pepermint</option>
            <option value = "Patchouli">Patchouli</option>
            <option value = "Orange Douce">Orange Douce</option>
            <option value = "Epinette Noire">Epinette Noire</option>
            <option value = "Exotic">Exotic</option>
            <option value = "Gardenia">Gardenia</option>
            <option value = "Cedre Virginie">Cedre Virginie</option>
            <option value = "Lime">Lime</option>
            <option value = "Orange Amere">Orange Amere</option>
            <option value = "Bergamote">Bergamote</option>
            <option value = "Palmarosa">Palmarosa</option>
            <option value = "Rosemary">Rosemary</option>
        </select>
        <select id = "selectionPurchaseBaseOil">
            <option value = "Cire Abeille">Cire Abeille</option>
            <option value = "Olive Oil">Olive Oil</option>
            <option value = "Jojoba Oil">Jojoba Oil</option>
            <option value = "Castor Oil">Castor Oil</option>
            <option value = "Argan Oil">Argan Oil</option>
            <option value = "Cameline Oil">Cameline Oil</option>
            <option value = "Coconut Oil">Coconut Oil</option>
            <option value = "Palm Oil">Palm Oil</option>
            <option value = "Shea Butter">Shea Butter</option>
            <option value = "Sweet Almond Oil">Sweet Almond Oil</option>
            <option value = "Coco Butter">Coco Butter</option>
            <option value = "Avocado Oil">Avocado Oil</option>
        </select>
        <br>
        <label for="selectPurchaseUnit">Unit: </label>
        <select id="selectPurchaseUnit">
            <option value="ml">ml</option>
            <option value="g">g</option>
        </select>
        <br>
        <label for="tbPurchaseQte">Qte: </label><input type="text" id="tbPurchaseQte"><br>
        <label for="tbPurchaseDate">Date: </label><input type="date" id="tbPurchaseDate"><br>
        <label for="tbPurchaseStotal">Subtotal: </label><input type="text" id="tbPurchaseStotal"><br>
        <label for="tbPurchaseTax">Tax: </label><input type="text" id="tbPurchaseTax"><br>
        <label for="tbPurchaseTotal">Total: </label><input type="text" id="tbPurchaseTotal" disabled><br>
        <button type='button' id="btnAddPurchase">Add purchase</button>
    </div>

    <div id="divDensity">
        <label for="tbDensityItem">Item : Consumable - </label>
        <select id="selectDensityConsumable">
            <option value="HE">HE</option>
            <option value="Base Oil">Base Oil</option>
            <option value="Soap">Soap</option>
            <option value="Additive">Additive</option>
            <option value="Soude Caustique">Soude Caustique</option>
            <option value="Emballage">Emballage</option>
        </select>
        <span id="otherDensityConsumable"> - </span>
        <select id = "selectionDensityHE">
            <option value = "Pin Blanc">Pin Blanc</option>
            <option value = "Eucalyptus Radiata">Eucalyptus Radiata</option>
            <option value = "Lavender">Lavender</option>
            <option value = "Frangipani">Frangipani</option>
            <option value = "Baume du Perou">Baume du Perou</option>
            <option value = "Apple">Apple</option>
            <option value = "Tea Tree">Tea Tree</option>
            <option value = "Ylang Ylang">Ylang Ylang</option>
            <option value = "Lemongrass">Lemongrass</option>
            <option value = "Menthe Poivree">Menthe Poivree</option>
            <option value = "Pepermint">Pepermint</option>
            <option value = "Patchouli">Patchouli</option>
            <option value = "Orange Douce">Orange Douce</option>
            <option value = "Epinette Noire">Epinette Noire</option>
            <option value = "Exotic">Exotic</option>
            <option value = "Gardenia">Gardenia</option>
            <option value = "Cedre Virginie">Cedre Virginie</option>
            <option value = "Lime">Lime</option>
            <option value = "Orange Amere">Orange Amere</option>
            <option value = "Bergamote">Bergamote</option>
            <option value = "Palmarosa">Palmarosa</option>
            <option value = "Rosemary">Rosemary</option>
        </select>
        <select id = "selectionDensityBaseOil">
            <option value="Cire Abeille">Cire Abeille</option>
            <option value="Olive Oil">Olive Oil</option>
            <option value="Jojoba Oil">Jojoba Oil</option>
            <option value="Castor Oil">Castor Oil</option>
            <option value="Argan Oil">Argan Oil</option>
            <option value="Cameline Oil">Cameline Oil</option>
            <option value="Coconut Oil">Coconut Oil</option>
            <option value="Palm Oil">Palm Oil</option>
            <option value="Shea Butter">Shea Butter</option>
            <option value="Sweet Almond Oil">Sweet Almond Oil</option>
            <option value="Coco Butter">Coco Butter</option>
            <option value="Avocado Oil">Avocado Oil</option>
        </select>
        <br>
        <label for="tbDensityG">g: </label><input type="text" id="tbDensityG"><br>
        <label for="tbPDensityMl">ml: </label><input type="text" id="tbDensityMl"><br>
        <button type='button' id="btnAddDensity">Add density</button>
    </div>

    <div id="divLabors">
        <label for="tbLaborsItem">Item : Consumable - </label>
        <select id="selectLaborsConsumable">
            <option value="HE">HE</option>
            <option value="Base Oil">Base Oil</option>
            <option value="Soap">Soap</option>
            <option value="Additive">Additive</option>
            <option value="Soude Caustique">Soude Caustique</option>
            <option value="Emballage">Emballage</option>
        </select>
        <span id="otherLaborsConsumable"> - </span>
        <select id = "selectionLaborsHE">
            <option value = "Pin Blanc">Pin Blanc</option>
            <option value = "Eucalyptus Radiata">Eucalyptus Radiata</option>
            <option value = "Lavender">Lavender</option>
            <option value = "Frangipani">Frangipani</option>
            <option value = "Baume du Perou">Baume du Perou</option>
            <option value = "Apple">Apple</option>
            <option value = "Tea Tree">Tea Tree</option>
            <option value = "Ylang Ylang">Ylang Ylang</option>
            <option value = "Lemongrass">Lemongrass</option>
            <option value = "Menthe Poivree">Menthe Poivree</option>
            <option value = "Pepermint">Pepermint</option>
            <option value = "Patchouli">Patchouli</option>
            <option value = "Orange Douce">Orange Douce</option>
            <option value = "Epinette Noire">Epinette Noire</option>
            <option value = "Exotic">Exotic</option>
            <option value = "Gardenia">Gardenia</option>
            <option value = "Cedre Virginie">Cedre Virginie</option>
            <option value = "Lime">Lime</option>
            <option value = "Orange Amere">Orange Amere</option>
            <option value = "Bergamote">Bergamote</option>
            <option value = "Palmarosa">Palmarosa</option>
            <option value = "Rosemary">Rosemary</option>
        </select>
        <select id = "selectionLaborsBaseOil">
            <option value = "Cire Abeille">Cire Abeille</option>
            <option value = "Olive Oil">Olive Oil</option>
            <option value = "Jojoba Oil">Jojoba Oil</option>
            <option value = "Castor Oil">Castor Oil</option>
            <option value = "Argan Oil">Argan Oil</option>
            <option value = "Cameline Oil">Cameline Oil</option>
            <option value = "Coconut Oil">Coconut Oil</option>
            <option value = "Palm Oil">Palm Oil</option>
            <option value = "Shea Butter">Shea Butter</option>
            <option value = "Sweet Almond Oil">Sweet Almond Oil</option>
            <option value = "Coco Butter">Coco Butter</option>
            <option value = "Avocado Oil">Avocado Oil</option>
        </select>
        <br>
        <label for="tbPLaborsJobId">Job Id: </label><input type="text" id="tbLaborsJobId"><br>
        <label for="tbLaborsUnit">Unit: </label>
        <select id="selectLaborsUnit">
            <option value="ml">ml</option>
            <option value="g">g</option>
        </select>
        <br>
        <label for="tbLaborsDate">Date: </label><input type="date" id="tbLaborsDate"><br>
        <label for="tbLaborsQte">Qte: </label><input type="text" id="tbLaborsQte"><br>
        <label for="selectLaborsType">Type: </label>
        <select id="selectLaborsType">
                <option value="usage">usage</option>
                <option value="create">create</option>
        </select>
        <button type='button' id="btnAddLabors">Add labors</button>
    </div>

</body>
</html>