<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Average cost</title>
    </head>

    <style>
        /*---------Base-------*/
        header{
        display: flex;
        width: 100%;
    }

    header ul {
        width: 100%;
    }

    header li {
        display: inline;
    }

    header li a {
        width: 100%;
        background-color: #ccffff;
        padding: 1% 5%;
        border: 1px solid black;
        color:black;
        size: 15px;
    }

    header li a:hover {
        background: #cc0000;
        text-decoration: underline ;
        cursor: pointer;
    }


    button {
        margin-bottom: 10px;
    }

    label, input, select {
        margin-bottom: 15px;
    }
    </style>

    <script>
        let purchases = []
        let densities = []
        let labors = []

        function ajax_get(url, callback) {
            let xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    try {
                        var data = JSON.parse(xmlhttp.responseText);
                    } catch(err) {
                        console.log(err.message + " in " + xmlhttp.responseText);
                        return;
                    }
                    callback(data);
                }
            };
    
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }

        function load(){

            ajax_get('/transactions/purchases', function(data) {
                purchases = JSON.parse(JSON.stringify(data))
            })

            ajax_get('/transactions/densities', function(data) {
                densities = JSON.parse(JSON.stringify(data))
            })

            ajax_get('/transactions/labors', function(data) {
                labors = JSON.parse(JSON.stringify(data))
            })

            document.querySelector("#li_Home").addEventListener('click', function (event) {
                window.location.href = "/"
            });

            document.querySelector("#li_Inventory").addEventListener('click', function (event) {
                window.location.href = "/transactions"
            });

            document.querySelector("#li_TotalCost").addEventListener('click', function (event) {
                window.location.href = "/totalCost"
            });

            document.querySelector("#li_AvgCost").addEventListener('click', function (event) {
                window.location.href = "/averageCost"
            });

            document.querySelector("#li_quantity").addEventListener('click', function (event) {
                window.location.href = "/leftQuantity"
            });

            document.querySelector("#btnGetAverage").addEventListener('click', function (event) {
                getAverage()
            });

            function getAverage(){
                let date = document.querySelector("#tbPurchaseDate").value
                let unit = document.querySelector("#selectPurchaseUnit").value
                let type = document.querySelector("#selectPurchaseConsumable").value

                json = JSON.stringify({"date":date, "unit": unit, "type": type})

                if(!date)
                {
                    alert("Error: Please insert a date")
                }
                else
                {
                    let purchasesArray = []

                    purchases.forEach(purchase => {
                        if (purchase.date <= date && purchase.unit == unit && purchase.item.includes(type)){
                            purchasesArray.push(purchase)
                        }
                    })

                    let html = []
                    html.push("<table id=\"tableAverageCost\">")
                    html.push("<tr><td class=\"tableTitle\" colspan='2'>" + date + "</td></tr>")
                    html.push("<tr>")  
                    html.push("<td class=\"title\">Type</td>")
                    html.push("<td class=\"title\">Average value per<br>acquisition unit (in ml)</td>")
                    html.push("<td class=\"title\">Average value per<br>acquisition unit (in L)</td>")
                    html.push("<td class=\"title\">Average value per<br>unit of use (per g)</td>")
                    html.push("<td class=\"title\">Average value per<br>unit of use (per 100g)</td>")
                    html.push("</tr>")

                    if (purchasesArray.length == 0){
                        document.querySelector("#averageCost").innerHTML = "No result to display! Try again..."
                    }
                    else if (purchasesArray.length == 1){
                        let currentItem = ""
                        let currentDensity = null
                        let laborsArray = []
                        
                        let currentPurchaseWIP = purchasesArray[0]
                        let purchaseItemSplit = currentPurchaseWIP.item.split(" - ")

                        if (purchaseItemSplit.length == 2){
                            currentItem = purchaseItemSplit[1]
                        }
                        else if (purchaseItemSplit.length == 3){
                            currentItem = purchaseItemSplit[2]
                        }
                        
                        if (currentItem != ""){
                            labors.forEach(labor => {
                                if ((labor.date >= currentPurchaseWIP.date && labor.date <= date) && labor.unit == unit && labor.item.includes(type) && labor.item.includes(currentItem)){
                                    laborsArray.push(labor)
                                }
                            })
                        }

                        if (laborsArray.length == 0){
                            let averageCost = currentPurchaseWIP.total / currentPurchaseWIP.qte

                            html.push("<tr>")  
                            html.push("<td class=\"center\">" + currentPurchaseWIP.item + "</td>")
                            html.push("<td class=\"center\">" + parseFloat(averageCost).toFixed(6) + " $</td>")
                            html.push("<td class=\"center\">" + parseFloat(averageCost * 1000).toFixed(2) + " $</td>")
                            html.push("<td class=\"center\"></td>")
                            html.push("<td class=\"center\"></td>")
                            html.push("</tr>")                               
                        }
                        else{
                            let densityG = 1.0
                            let densityML = 1.0
                            let currentDensity = null
                            currentDensity = densities.find(density => density.item.includes(type) && density.item.includes(currentItem))

                            if (currentDensity != null){
                                densityG = currentDensity.g
                                densityML = currentDensity.ml
                            }

                            let sumLabors = 0.0

                            laborsArray.forEach(labor => {
                                sumLabors += labor.qte
                            })

                            let averageCost = currentPurchaseWIP.total / currentPurchaseWIP.qte
                            let averageUseCost = averageCost / (densityG / densityML)

                            html.push("<tr>")  
                            html.push("<td class=\"center\">" + currentPurchaseWIP.item + "</td>")
                            html.push("<td class=\"center\">" + parseFloat(averageCost).toFixed(6) + " $</td>")
                            html.push("<td class=\"center\">" + parseFloat(averageCost * 1000).toFixed(2) + " $</td>")
                            html.push("<td class=\"center\">" + parseFloat().toFixed(6) + " $</td>")
                            html.push("<td class=\"center\">" + parseFloat(averageUseCost * 100).toFixed(2) + " $</td>")
                            html.push("</tr>")
                        }
                            
                        html.push("</table>")
                        document.querySelector("#averageCost").innerHTML = ""
                        document.querySelector("#averageCost").insertAdjacentHTML("beforeend", html.join("\n"))
                    }
                    else{
                        purchasesArray.sort(function(a, b) {
                            if(a.item < b.item) { return -1; }
                            if(a.item > b.item) { return 1; }
                            return 0;
                        }); 

                        let purchasesArrayWIP = []
                        let oldPurchase = null
                        let purIter = 0

                        for (purIter = 0; purIter < purchasesArray.length; purIter++){
                            let currentPurchase = purchasesArray[purIter]
                    
                            if (oldPurchase != null && oldPurchase.item.toLowerCase() == currentPurchase.item.toLowerCase()){
                                purchasesArrayWIP.push(currentPurchase);
                            }
                            else if (oldPurchase != null && oldPurchase.item.toLowerCase() != currentPurchase.item.toLowerCase()){
                                let currentItem = ""
                                let currentDensity = null
                                let laborsArray = []
                                
                                if (purchasesArrayWIP.length == 1){
                                    let currentPurchaseWIP = purchasesArrayWIP[0]
                                    let purchaseItemSplit = currentPurchaseWIP.item.split(" - ")

                                    if (purchaseItemSplit.length == 2){
                                        currentItem = purchaseItemSplit[1]
                                    }
                                    else if (purchaseItemSplit.length == 3){
                                        currentItem = purchaseItemSplit[2]
                                    }
                                    
                                    if (currentItem != ""){
                                        labors.forEach(labor => {
                                            if ((labor.date >= currentPurchaseWIP.date && labor.date <= date) && labor.unit == unit && labor.item.includes(type) && labor.item.includes(currentItem)){
                                                laborsArray.push(labor)
                                            }
                                        })
                                    }

                                    if (laborsArray.length == 0){
                                        let averageCost = currentPurchaseWIP.total / currentPurchaseWIP.qte

                                        html.push("<tr>")  
                                        html.push("<td class=\"center\">" + currentPurchaseWIP.item + "</td>")
                                        html.push("<td class=\"center\">" + parseFloat(averageCost).toFixed(6) + " $</td>")
                                        html.push("<td class=\"center\">" + parseFloat(averageCost * 1000).toFixed(2) + " $</td>")
                                        html.push("<td class=\"center\"></td>")
                                        html.push("<td class=\"center\"></td>")
                                        html.push("</tr>")                               
                                    }
                                    else{
                                        let densityG = 1.0
                                        let densityML = 1.0
                                        let currentDensity = null
                                        currentDensity = densities.find(density => density.item.includes(type) && density.item.includes(currentItem))

                                        if (currentDensity != null){
                                            densityG = currentDensity.g
                                            densityML = currentDensity.ml
                                        }

                                        let sumLabors = 0.0

                                        laborsArray.forEach(labor => {
                                            sumLabors += labor.qte
                                        })

                                        let averageCost = currentPurchaseWIP.total / currentPurchaseWIP.qte
                                        let averageUseCost = averageCost / (densityG / densityML)

                                        html.push("<tr>")  
                                        html.push("<td class=\"center\">" + currentPurchaseWIP.item + "</td>")
                                        html.push("<td class=\"center\">" + parseFloat(averageCost).toFixed(6) + " $</td>")
                                        html.push("<td class=\"center\">" + parseFloat(averageCost * 1000).toFixed(2) + " $</td>")
                                        html.push("<td class=\"center\">" + parseFloat().toFixed(6) + " $</td>")
                                        html.push("<td class=\"center\">" + parseFloat(averageUseCost * 100).toFixed(2) + " $</td>")
                                        html.push("</tr>")
                                    }
                                }
                                else{
                                    purchasesArrayWIP.sort(function(a, b) {
                                        if(a.date < b.date) { return -1; }
                                        if(a.date > b.date) { return 1; }
                                        return 0;
                                    }); 

                                    let purIterWIP = 0

                                    for (purIterWIP = 0; purIterWIP < purchasesArrayWIP.length; purIterWIP + 2){
                                        let currentPurchaseWIP = purchasesArrayWIP[purIterWIP]
                                        let nextPurchaseWIP = null

                                        if ((purIterWIP + 1) < purchasesArrayWIP.length){
                                            nextPurchaseWIP = purchasesArrayWIP[purIterWIP + 1]
                                        }

                                        if (nextPurchaseWIP == null){

                                        }
                                    }
                                }

                                oldPurchase = null
                            }
                            else if (oldPurchase == null && (purIter + 1) >= purchasesArray.length){
                                purchasesArrayWIP = []
                                purchasesArrayWIP.push(currentPurchase);

                                let currentItem = ""
                                let currentDensity = null
                                let laborsArray = []
                                
                                if (purchasesArrayWIP.length == 1){
                                    let currentPurchaseWIP = purchasesArrayWIP[0]
                                    let purchaseItemSplit = currentPurchaseWIP.item.split(" - ")

                                    if (purchaseItemSplit.length == 2){
                                        currentItem = purchaseItemSplit[1]
                                    }
                                    else if (purchaseItemSplit.length == 3){
                                        currentItem = purchaseItemSplit[2]
                                    }
                                    
                                    if (currentItem != ""){
                                        labors.forEach(labor => {
                                            if ((labor.date >= currentPurchaseWIP.date && labor.date <= date) && labor.unit == unit && labor.item.includes(type) && labor.item.includes(currentItem)){
                                                laborsArray.push(labor)
                                            }
                                        })
                                    }

                                    if (laborsArray.length == 0){
                                        let averageCost = currentPurchaseWIP.total / currentPurchaseWIP.qte

                                        html.push("<tr>")  
                                        html.push("<td class=\"center\">" + currentPurchaseWIP.item + "</td>")
                                        html.push("<td class=\"center\">" + parseFloat(averageCost).toFixed(6) + " $</td>")
                                        html.push("<td class=\"center\">" + parseFloat(averageCost * 1000).toFixed(2) + " $</td>")
                                        html.push("<td class=\"center\"></td>")
                                        html.push("<td class=\"center\"></td>")
                                        html.push("</tr>")                               
                                    }
                                    else{
                                        let densityG = 1.0
                                        let densityML = 1.0
                                        let currentDensity = null
                                        currentDensity = densities.find(density => density.item.includes(type) && density.item.includes(currentItem))

                                        if (currentDensity != null){
                                            densityG = currentDensity.g
                                            densityML = currentDensity.ml
                                        }

                                        let sumLabors = 0.0

                                        laborsArray.forEach(labor => {
                                            sumLabors += labor.qte
                                        })

                                        let averageCost = currentPurchaseWIP.total / currentPurchaseWIP.qte
                                        let averageUseCost = averageCost / (densityG / densityML)

                                        html.push("<tr>")  
                                        html.push("<td class=\"center\">" + currentPurchaseWIP.item + "</td>")
                                        html.push("<td class=\"center\">" + parseFloat(averageCost).toFixed(6) + " $</td>")
                                        html.push("<td class=\"center\">" + parseFloat(averageCost * 1000).toFixed(2) + " $</td>")
                                        html.push("<td class=\"center\">" + parseFloat().toFixed(6) + " $</td>")
                                        html.push("<td class=\"center\">" + parseFloat(averageUseCost * 100).toFixed(2) + " $</td>")
                                        html.push("</tr>")
                                    }
                                }
                            }

                            if (oldPurchase == null){
                                purchasesArrayWIP = []
                                purchasesArrayWIP.push(currentPurchase);
                            }

                            oldPurchase = currentPurchase
                        }

                        html.push("</table>")
                        document.querySelector("#averageCost").innerHTML = ""
                        document.querySelector("#averageCost").insertAdjacentHTML("beforeend", html.join("\n"))
                    }
                }
            }
        }
    </script>

    <body onload="load()">
        <header>
                <ul>
                    <li id="li_Home">
                        <a>Home</a>
                    </li>
                    <li id="li_Inventory">
                        <a>Inventory</a>
                    </li>
                    <li id="li_TotalCost">
                        <a>Total cost</a>
                    </li>
                    <li id="li_AvgCost">
                        <a>Average Acquisition cost</a>
                    </li>
                    <li id="li_quantity">
                        <a>Left quantity</a>
                    </li>
                </ul>
        </header>

        <h1>Average cost</h1>

        <label>Select the date, unit and the consumable category: </label><br><br>

        <label for="tbPurchaseDate">Date: </label><input type="date" id="tbPurchaseDate"><br>
        <label for="selectPurchaseUnit">Unit: </label>
        <select id="selectPurchaseUnit">
            <option value="ml">ml</option>
            <option value="g">g</option>
        </select><br>
        <label for="tbPurchaseItem">Item : Consumable - </label>
        <select id="selectPurchaseConsumable">
            <option value="HE">HE</option>
            <option value="Base Oil">Base Oil</option>
            <option value="Soap">Soap</option>
            <option value="Additive">Additive</option>
            <option value="Soude Caustique">Soude Caustique</option>
            <option value="Emballage">Emballage</option>
        </select>
        <br>
        <button type='button' id="btnGetAverage">Get average cost</button>
        <br><br>
        <div id="averageCost">

        </div>
    </body>
</html>