<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quantity left</title>
</head>

<style>
    /*---------Base-------*/
    header{
    display: flex;
    width: 100%;
}

header ul {
    width: 100%;
}

header li {
    display: inline;
}

header li a {
    width: 100%;
    background-color: #ccffff;
    padding: 1% 5%;
    border: 1px solid black;
    color:black;
    size: 15px;
}

header li a:hover {
    background: #cc0000;
    text-decoration: underline ;
    cursor: pointer;
}


button {
    margin-bottom: 10px;
}

label, input, select {
    margin-bottom: 15px;
}

#tableTotalCost{
    margin-bottom: 30px;
    width: 30%;
    border-collapse: collapse;
}

td{
    border: 1px solid #777;
}

.tableTitle, .title{
    text-align: center;
    font-weight: bold;
}
</style>

<script>
    let densities = []
    let purchaseQuantity = []
    let laborsQuantity = []

    function ajax_get(url, callback) {
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                try {
                    var data = JSON.parse(xmlhttp.responseText);
                } catch(err) {
                    console.log(err.message + " in " + xmlhttp.responseText);
                    return;
                }
                callback(data);
            }
        };
 
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }

    function postAjax(url, data, callback) {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                try {
                    callback(JSON.parse(xhr.responseText))
                } catch(err) {
                    console.log(err.message + " in " + xhr.responseText);
                    return;
                }
            }
        };
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    }

    function load(){

        ajax_get('/transactions/densities', function(data) {
            densities = JSON.parse(JSON.stringify(data))
        })

        document.querySelector("#li_Home").addEventListener('click', function (event) {
            window.location.href = "/"
        });

        document.querySelector("#li_Inventory").addEventListener('click', function (event) {
            window.location.href = "/transactions"
        });

        document.querySelector("#li_TotalCost").addEventListener('click', function (event) {
            window.location.href = "/totalCost"
        });

        document.querySelector("#li_AvgCost").addEventListener('click', function (event) {
            window.location.href = "/averageCost"
        });

        document.querySelector("#li_quantity").addEventListener('click', function (event) {
            window.location.href = "/leftQuantity"
        });

        document.querySelector("#btnleftQuantity").addEventListener('click', function (event) {
            document.querySelector("#leftQuantity").innerHTML = ""
            let date = document.querySelector("#tbPurchaseDate").value
            getLeftQuantity(date)
        });

        function getFactorGtoMl(comsumable){
            if(!(densities.find(density => density.item == comsumable)))
                return 1
            else{
                let index = densities.findIndex(density => density.item == comsumable)
                return densities[index].g/densities[index].ml
            }
            
        }

        async function getLeftQuantity(date){
            await Promise.all([getQuantityPurchase(date), getQuantityLabor(date)]);
            let html = []

            html.push("<table id=\"tableTotalCost\">")
            html.push("<tr><td class=\"tableTitle\" colspan='3'>"+date+"</td></tr>")
            html.push("<tr>")  
            html.push("<td class=\"title\">Comsumable</td>")
            html.push("<td class=\"title\">Quantity left (ml)</td>")
            html.push("<td class=\"title\">Quantity left (g)</td>")
            html.push("</tr>") 

            purchaseQuantity.forEach(purchaseQte =>{
                if(laborsQuantity.find(obj => obj.item == purchaseQte.item)){
                    purchaseQte.qte -= laborsQuantity
                }

                let factor = getFactorGtoMl(purchaseQte.item)

                html.push("<tr>")
                html.push("<td class=\"center\">"+purchaseQte.item+"</td>")
                html.push("<td class=\"center\">"+purchaseQte.qte+"</td>")
                html.push("<td class=\"center\">"+(purchaseQte.qte * factor)+"</td>")
                html.push("</tr>")
            })

             html.push("</table>")
            document.querySelector("#leftQuantity").insertAdjacentHTML("beforeend", html.join("\n"))   
         
        }

        function calculateSumPurchase(purchases){
            purchases.forEach(purchase=>{
                if(!(purchaseQuantity.find(obj => obj.item == purchase.item))){
                    purchaseQuantity.push(purchase)
                } else {
                    let index = purchaseQuantity.findIndex(obj => obj.item == purchase.item)
                    purchaseQuantity[index].qte += purchase.qte
                }
            })
        }

        function calculateSumLabors(labors){
            labors.forEach(labor=>{
                if(!(purchaseQuantity.find(obj => obj.item == labor.item))){
                    laborsQuantity.push(labor)
                } else {
                    let index = laborsQuantity.findIndex(obj => obj.item == labor.item)
                    laborsQuantity[index].qte += labor.qte
                }
            })
        }
        
        function removeDuplicates(myArr, prop) {
            return myArr.filter((obj, pos, arr) => {
                return arr.map(mapObj => mapObj[prop]).indexOf(obj[prop]) === pos;
            });
        }

        function getQuantityPurchase(date){
            return new Promise(function (resolve, reject) {
                let queryData = JSON.stringify({"date":date})
                postAjax('/leftQuantity/purchase', queryData , function(data) {
                    data.forEach(elem =>{
                        if(elem.unit == "g"){
                            elem.unit = "ml"
                            let factor = getFactorGtoMl(elem.item)
                            elem.qte = elem.qte/factor
                        }
                    })
                    calculateSumPurchase(data)
                    resolve(data)
                })
            })
        }

        function getQuantityLabor(date){
            return new Promise(function (resolve, reject) {

                let queryData = JSON.stringify({"date":date})
                postAjax('/leftQuantity', queryData , function(data) {
                    data.forEach(elem =>{
                        if(elem.unit == "g"){
                            elem.unit = "ml"
                            let factor = getFactorGtoMl(elem.item)
                            elem.qte = elem.qte/factor
                        }
                    })
                    calculateSumLabors(data)
                    resolve(data)
                })
            })
        }

    }
</script>

<body onload="load()">
    <header>
            <ul>
                <li id="li_Home">
                    <a>Home</a>
                </li>
                <li id="li_Inventory">
                    <a>Inventory</a>
                </li>
                <li id="li_TotalCost">
                    <a>Total cost</a>
                </li>
                <li id="li_AvgCost">
                    <a>Average Acquisition cost</a>
                </li>
                <li id="li_quantity">
                    <a>Left quantity</a>
                </li>
            </ul>
    </header>

    <h1>Quantity left</h1>

    <label>Select the date to display the quantity left: </label><br><br>

    <label for="tbPurchaseDate">Date: </label><input type="date" id="tbPurchaseDate"><br>
    <button type='button' id="btnleftQuantity">Get left quantity</button>
    <br><br>
    <label>N.B. If there's no density factor for an item, the g/ml factor will be 1 </label><br><br>
    <div id="leftQuantity">

    </div>
</body>
</html>