<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify purchase</title>
</head>

<style>
    /*---------Base-------*/
header{
    display: block;
    width: 100%;
}

header ul {
    width: 100%;
}

header li {
    display: inline;
}

header li a {
    width: 100%;
    background-color: #ccffff;
    padding: 1% 5%;
    border: 1px solid black;
    color:black;
    size: 15px;
}

header li a:hover {
    background: #cc0000;
    text-decoration: underline ;
    cursor: pointer;
}

</style>

<script type="text/javascript">

    function load(){
        let id = localStorage.getItem("id")
        let item = localStorage.getItem("item")
        let unit = localStorage.getItem("unit")
        let qte = localStorage.getItem("qte")
        let stotal = localStorage.getItem("stotal")
        let tax = localStorage.getItem("tax")
        let total = localStorage.getItem("total")

        localStorage.clear()

        document.querySelector("#tbPurchaseId").innerHTML = id
        document.querySelector("#tbPurchaseId").innerHTML = item
        document.querySelector("#tbPurchaseId").innerHTML = unit
        document.querySelector("#tbPurchaseId").innerHTML = qte
        document.querySelector("#tbPurchaseId").innerHTML = stotal
        document.querySelector("#tbPurchaseId").innerHTML = tax
        document.querySelector("#tbPurchaseId").innerHTML = total
    } 

</script>

<body onload="load()">
    <header>
            <ul>
                <li id="li_Home">
                    <a>Home</a>
                </li>
                <li id="li_Inventory">
                    <a>Inventory</a>
                </li>
                <li id="li_AddItem">
                    <a>Add item</a>
                </li>
                <li id="li_TotalCost">
                    <a>Total cost</a>
                </li>
                <li id="li_AvgCost">
                    <a>Average Acquisition cost</a>
                </li>
                <li id="li_Image">
                    <a>Past images</a>
                </li>
            </ul>
    </header>

    <h1>Modify purchase</h1>

    <label for="tbPurchaseId">Id: </label><input type="text" id="tbPurchaseId">
    <label for="tbPurchaseItem">Item: </label><input type="text" id="tbPurchaseItem">
    <label for="tbPurchaseUnit">Unit: </label><input type="text" id="tbPurchaseUnit">
    <label for="tbPurchaseQte">qte: </label><input type="text" id="tbPurchaseQte">
    <label for="tbPurchaseStotal">stotal: </label><input type="text" id="tbPurchaseStotal">
    <label for="tbPurchaseTax">Tax: </label><input type="text" id="tbPurchaseTax">
    <label for="tbPurchaseTotal">total: </label><input type="text" id="tbPurchaseTotal">
</body>
</html>