<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Total cost</title>
</head>

<style>
    /*---------Base-------*/
    header{
    display: flex;
    width: 100%;
}

header ul {
    width: 100%;
}

header li {
    display: inline;
}

header li a {
    width: 100%;
    background-color: #ccffff;
    padding: 1% 5%;
    border: 1px solid black;
    color:black;
    size: 15px;
}

header li a:hover {
    background: #cc0000;
    text-decoration: underline ;
    cursor: pointer;
}


button {
    margin-bottom: 10px;
}

label, input, select {
    margin-bottom: 15px;
}
</style>

<script>

    function ajax_post(url, data, callback) {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                try {
                    callback(JSON.parse(xhr.responseText))
                } catch(err) {
                    console.log(err.message + " in " + xhr.responseText);
                    return;
                }
            }
        };

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    }

    function load(){

        document.querySelector("#li_Home").addEventListener('click', function (event) {
            window.location.href = "/"
        });

        document.querySelector("#li_Inventory").addEventListener('click', function (event) {
            window.location.href = "/transactions"
        });

        document.querySelector("#li_TotalCost").addEventListener('click', function (event) {
            window.location.href = "/totalCost"
        });

        document.querySelector("#li_AvgCost").addEventListener('click', function (event) {
            window.location.href = "/averageCost"
        });

        document.querySelector("#li_quantity").addEventListener('click', function (event) {
            window.location.href = "/leftQuantity"
        });

        document.querySelector("#btnGetTotal").addEventListener('click', function (event) {
            getTotal()
        });

        function getTotal(){
            let date = document.querySelector("#tbPurchaseDate").value

            json = JSON.stringify({"date":date})

            if(!date)
                alert("Error: Please insert a date")
            else{
                ajax_post("/totalCost", json, function(data){

                    if(data === undefined || data.length == 0){
                        document.querySelector("#totalCost").innerHTML = "Sorry, there's no data cost for this date!"
                    } else if(data.result == "Failure"){
                        alert("Error: can't delete this item")
                    } else{
                        //document.querySelector("#totalCost").innerHTML = "Total cost on " + date + " : " + data.totalCost + " $"
                        document.querySelector("#totalCost").innerHTML = JSON.stringify(data)
                    }
                })
            }
        }
    }
</script>

<body onload="load()">
    <header>
            <ul>
                <li id="li_Home">
                    <a>Home</a>
                </li>
                <li id="li_Inventory">
                    <a>Inventory</a>
                </li>
                <li id="li_TotalCost">
                    <a>Total cost</a>
                </li>
                <li id="li_AvgCost">
                    <a>Average Acquisition cost</a>
                </li>
                <li id="li_quantity">
                    <a>Left quantity</a>
                </li>
            </ul>
    </header>

    <h1>Total cost</h1>

    <label>Select the date to display the total cost: </label><br><br>

    <label for="tbPurchaseDate">Date: </label><input type="date" id="tbPurchaseDate"><br>
    <button type='button' id="btnGetTotal">Get total</button>
    <br><br>
    <div id="totalCost">

    </div>
</body>
</html>