<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Total cost</title>
</head>

<style>
    /*---------Base-------*/
    header{
    display: flex;
    width: 100%;
}

header ul {
    width: 100%;
}

header li {
    display: inline;
}

header li a {
    width: 100%;
    background-color: #ccffff;
    padding: 1% 5%;
    border: 1px solid black;
    color:black;
    size: 15px;
}

header li a:hover {
    background: #cc0000;
    text-decoration: underline ;
    cursor: pointer;
}


button {
    margin-bottom: 10px;
}

label, input, select {
    margin-bottom: 15px;
}

#tableTotalCost{
    margin-bottom: 30px;
    width: 30%;
    border-collapse: collapse;
}

td{
    border: 1px solid #777;
}

.tableTitle, .title{
    text-align: center;
    font-weight: bold;
}
</style>

<script>
    let costHE = 0
    let costBaseOil = 0
    let costSoap = 0

    function ajax_post(url, data, callback) {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                try {
                    callback(JSON.parse(xhr.responseText))
                } catch(err) {
                    console.log(err.message + " in " + xhr.responseText);
                    return;
                }
            }
        };

        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    }

    function load(){

        document.querySelector("#li_Home").addEventListener('click', function (event) {
            window.location.href = "/"
        });

        document.querySelector("#li_Inventory").addEventListener('click', function (event) {
            window.location.href = "/transactions"
        });

        document.querySelector("#li_TotalCost").addEventListener('click', function (event) {
            window.location.href = "/totalCost"
        });

        document.querySelector("#li_AvgCost").addEventListener('click', function (event) {
            window.location.href = "/averageCost"
        });

        document.querySelector("#li_quantity").addEventListener('click', function (event) {
            window.location.href = "/leftQuantity"
        });

        document.querySelector("#btnGetTotal").addEventListener('click', function (event) {
            document.querySelector("#totalCost").innerHTML = "Loading..."
            getTotal()
        });

        function calculConsumableTotal(cost){
            let strCost = cost._id.split(" - ")

            switch(strCost[1]){
                case "HE": costHE += cost.sum 
                break;
                case "Base Oil": costBaseOil += cost.sum 
                break;
                case "Soap": costSoap += cost.sum 
                break;
                default:break;
            }
        }

        function getTotal(){
            let date = document.querySelector("#tbPurchaseDate").value

            json = JSON.stringify({"date":date})

            if(!date)
                alert("Error: Please insert a date")
            else{
                ajax_post("/totalCost", json, function(data){

                    if(data === undefined || data.length == 0){
                        document.querySelector("#totalCost").innerHTML = "Sorry, there's no data for this date!"
                    } else if(data.result == "Failure"){
                        alert("Error: can't delete this item")
                    } else{
                        let html = []
                        let consumableTotalCost = 0

                        html.push("<table id=\"tableTotalCost\">")
                        html.push("<tr><td class=\"tableTitle\" colspan='2'>"+date+"</td></tr>")
                        html.push("<tr>")  
                        html.push("<td class=\"title\">Type</td>")
                        html.push("<td class=\"title\">Total cost</td>")
                        html.push("</tr>") 

                        data.sort(function(a, b) {
                            if(a._id < b._id) { return -1; }
                            if(a._id > b._id) { return 1; }
                            return 0;
                        }); 

                        data.forEach(function(elem, idx, array){
                            if(idx === array.length - 1){
                                html.push("<tr class=\"total\">")
                            } else
                                html.push("<tr>")

                            html.push("<td class=\"center\">"+elem._id+"</td>")
                            html.push("<td class=\"center\">"+ parseFloat(elem.sum).toFixed(2) +" $</td>")
                            html.push("</tr>")
                            
                            calculConsumableTotal(elem)
                            consumableTotalCost += parseFloat(elem.sum).toFixed(2)
                        })
                        
                        if(costHE > 0){
                            html.push("<tr>")
                            html.push("<td class=\"center\">Consumable - HE</td>")
                            html.push("<td class=\"center\">"+ parseFloat(costHE).toFixed(2) +" $</td>")
                            html.push("</tr>")
                        }

                        if(costBaseOil > 0){
                            html.push("<tr>")
                            html.push("<td class=\"center\">Consumable - Base Oil</td>")
                            html.push("<td class=\"center\">"+ parseFloat(costBaseOil).toFixed(2) +" $</td>")
                            html.push("</tr>")
                        }

                        if(costSoap > 0){
                            html.push("<tr>")
                            html.push("<td class=\"center\">Consumable - Soap</td>")
                            html.push("<td class=\"center\">"+ parseFloat(costSoap).toFixed(2) +" $</td>")
                            html.push("</tr>")
                        }

                        html.push("<tr class=\"total\">")
                        html.push("<td class=\"center\">Consumable</td>")
                        html.push("<td class=\"center\">"+ parseFloat(consumableTotalCost).toFixed(2) +" $</td>")
                        html.push("</tr>")
                        html.push("</table>")
                        document.querySelector("#totalCost").innerHTML = ""
                        document.querySelector("#totalCost").insertAdjacentHTML("beforeend", html.join("\n"))
                    }
                })
            }
        }
    }
</script>

<body onload="load()">
    <header>
            <ul>
                <li id="li_Home">
                    <a>Home</a>
                </li>
                <li id="li_Inventory">
                    <a>Inventory</a>
                </li>
                <li id="li_TotalCost">
                    <a>Total cost</a>
                </li>
                <li id="li_AvgCost">
                    <a>Average Acquisition cost</a>
                </li>
                <li id="li_quantity">
                    <a>Left quantity</a>
                </li>
            </ul>
    </header>

    <h1>Total cost</h1>

    <label>Select the date to display the total cost: </label><br><br>

    <label for="tbPurchaseDate">Date: </label><input type="date" id="tbPurchaseDate"><br>
    <button type='button' id="btnGetTotal">Get total</button>
    <br><br>
    <div id="totalCost">

    </div>
</body>
</html>