<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>

<style>
    /*---------Base-------*/
header{
    display: block;
    width: 100%;
}

header ul {
    width: 100%;
}

header li {
    display: inline;
}

header li a {
    width: 100%;
    background-color: #ccffff;
    padding: 1% 5%;
    border: 1px solid black;
    color:black;
    size: 15px;
}

header li a:hover {
    background: #cc0000;
    text-decoration: underline ;
    cursor: pointer;
}

#tablePurchase, #tableDenstiy, #tableDensity{
    margin-bottom: 30px;
    width: 100%;
    border-collapse: collapse;
}

td{
    border: 1px solid #777;
}

.tableTitle, .title{
    text-align: center;
    font-weight: bold;
}

.center{
    text-align: center;
}

</style>

<script type="text/javascript">

    function ajax_get(url, callback) {
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                //console.log('responseText:' + xmlhttp.responseText);
                try {
                    var data = JSON.parse(xmlhttp.responseText);
                } catch(err) {
                    console.log(err.message + " in " + xmlhttp.responseText);
                    return;
                }
                callback(data);
            }
        };
 
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }
    
    function load(){
        let host = window.location.hostname;

        document.querySelector("#li_Inventory").addEventListener('click', function (event) {
            window.location.href = "/transactions"
        });

        getPurchases()
        getdensities()
        getlabors()   
    } 

    function getPurchases(){
        ajax_get('/transactions/purchases', function(data) {
            let resultContainer = document.querySelector("#divAchat")
            let html = []
            html.push("<table id=\"tablePurchase\">")
            html.push("<tr><td class=\"tableTitle\"  colspan='8'>Purchases</td></tr>")
            html.push("<tr>")  
            html.push("<td class=\"title\">Id</td>")  
            html.push("<td class=\"title\">Item</td>")
            html.push("<td class=\"title\">Unit</td>")
            html.push("<td class=\"title\">Quantity</td>")
            html.push("<td class=\"title\">Subtotal</td>")
            html.push("<td class=\"title\">Tax</td>")
            html.push("<td class=\"title\">Total</td>")
            html.push("<td class=\"title\">Modification</td>")
            html.push("<tr>")

            data.forEach(element => {
                html.push("<tr id=\"purchase"+element._id.$oid+"\">")   
                html.push("<td id=\"id"+element._id.$oid+"\">"+element._id.$oid+"</td>")
                html.push("<td id=\"item"+element._id.$oid+"\">"+element.item+"</td>")
                html.push("<td class=\"center\" id=\"unit"+element._id.$oid+"\">"+element.unit+"</td>")
                html.push("<td class=\"center\" id=\"qte"+element._id.$oid+"\">"+element.qte+"</td>")
                html.push("<td class=\"center\" id=\"stotal"+element._id.$oid+"\">"+element.stotal+"$</td>")
                html.push("<td class=\"center\" id=\"tax"+element._id.$oid+"\">"+element.tax+"$</td>")
                html.push("<td class=\"center\" id=\"total"+element._id.$oid+"\">"+element.total+"$</td>")
                html.push("<td class=\"center\"><button type='button' id=\"btnModify" + element._id.$oid + "\">Modify</button></td>")
                html.push("<tr>")    
            });
            html.push("</table>")
            resultContainer.insertAdjacentHTML("beforeend", html.join("\n"))
        });
    }

    function getdensities(){
        ajax_get('/transactions/densities', function(data) {
            let resultContainer = document.querySelector("#divDensity")
            let html = []
            html.push("<table id=\"tableDenstiy\">")
            html.push("<tr><td class=\"tableTitle\" colspan='6'>Density</td></tr>")
            html.push("<tr>")  
            html.push("<td class=\"title\">Id</td>")
            html.push("<td class=\"title\">Item</td>")
            html.push("<td class=\"title\">g</td>")
            html.push("<td class=\"title\">ml</td>")
            html.push("<td class=\"title\">Modification</td>")
            html.push("<tr>")

            data.forEach(element => {
                html.push("<tr id=\"density"+element._id.$oid+"\">")   
                html.push("<td id=\"id"+element._id.$oid+"\">"+element._id.$oid+"</td>")
                html.push("<td id=\"item"+element._id.$oid+"\">"+element.item+"</td>")
                html.push("<td class=\"center\" id=\"g"+element._id.$oid+"\">"+element.g+"</td>")
                html.push("<td class=\"center\" id=\"ml"+element._id.$oid+"\">"+element.ml+"</td>")
                html.push("<td class=\"center\"><button type='button' id=\"btnModify" + element._id.$oid + "\">Modify</button></td>")
                html.push("<tr>")    
            });
            html.push("</table>")
            resultContainer.insertAdjacentHTML("beforeend", html.join("\n"))
        });
    }

    function getlabors(){
        ajax_get('/transactions/labors', function(data) {
            let resultContainer = document.querySelector("#divTranformation")
            let html = []
            html.push("<table id=\"tableDensity\">")
            html.push("<tr><td class=\"tableTitle\"  colspan='8'>Density</td></tr>")
            html.push("<tr>")  
            html.push("<td class=\"title\">Id</td>")
            html.push("<td class=\"title\">Job Id</td>")
            html.push("<td class=\"title\">Item</td>")
            html.push("<td class=\"title\">Date</td>")
            html.push("<td class=\"title\">Unit</td>")
            html.push("<td class=\"title\">Qte</td>")
            html.push("<td class=\"title\">Type</td>")
            html.push("<td class=\"title\">Modification</td>")
            html.push("<tr>")

            data.forEach(element => {
                html.push("<tr id=\"purchase"+element._id.$oid+"\">")   
                html.push("<td id=\"id"+element._id.$oid+"\">"+element._id.$oid+"</td>")
                html.push("<td class=\"center\" id=\"jobId"+element._id.$oid+"\">"+element.job_id+"</td>")
                html.push("<td id=\"item"+element._id.$oid+"\">"+element.item+"</td>")
                html.push("<td id=\"g"+element._id.$oid+"\">"+element.date+"</td>")
                html.push("<td class=\"center\" id=\"ml"+element._id.$oid+"\">"+element.unit+"</td>")
                html.push("<td class=\"center\" id=\"ml"+element._id.$oid+"\">"+element.qte+"</td>")
                html.push("<td id=\"ml"+element._id.$oid+"\">"+element.type+"</td>")
                html.push("<td class=\"tdBtnModify\"><button type='button' id=\"btnModify" + element._id.$oid + "\">Modify</button></td>")
                html.push("<tr>")    
            });
            html.push("</table>")
            resultContainer.insertAdjacentHTML("beforeend", html.join("\n"))
        });
    }
</script>

<body onload="load()">
    <header>
            <ul>
                <li id="li_Home">
                    <a>Home</a>
                </li>
                <li id="li_Inventory">
                    <a>Inventory</a>
                </li>
                <li id="li_AddItem">
                    <a>Add item</a>
                </li>
                <li id="li_TotalCost">
                    <a>Total cost</a>
                </li>
                <li id="li_AvgCost">
                    <a>Average Acquisition cost</a>
                </li>
                <li id="li_Image">
                    <a>Past images</a>
                </li>
            </ul>
    </header>

    <h1>Transactions</h1>
    
    <div id="divAchat"></div>
    <div id="divDensity"></div>
    <div id="divTranformation"></div>
</body>
</html>