<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>

<style>
    /*---------Base-------*/
header{
    display: flex;
    width: 100%;
}

header ul {
    width: 100%;
}

header li {
    display: inline;
}

header li a {
    width: 100%;
    background-color: #ccffff;
    padding: 1% 5%;
    border: 1px solid black;
    color:black;
    size: 15px;
}

header li a:hover {
    background: #cc0000;
    text-decoration: underline ;
    cursor: pointer;
}

#tablePurchase, #tableDenstiy, #tableDensity{
    margin-bottom: 30px;
    width: 100%;
    border-collapse: collapse;
}

td{
    border: 1px solid #777;
}

.tableTitle, .title{
    text-align: center;
    font-weight: bold;
}

.center{
    text-align: center;
}

button {
    margin-bottom: 10px;
}

</style>

<script type="text/javascript">

    function ajax_get(url, callback) {
        let xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                //console.log('responseText:' + xmlhttp.responseText);
                try {
                    var data = JSON.parse(xmlhttp.responseText);
                } catch(err) {
                    console.log(err.message + " in " + xmlhttp.responseText);
                    return;
                }
                callback(data);
            }
        };
 
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }

    function ajax_Delete(url, data, callback) {
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                try {
                    callback(JSON.parse(xhr.responseText))
                } catch(err) {
                    console.log(err.message + " in " + xhr.responseText);
                    return;
                }
            }
        };
        xhr.open("DELETE", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    }
    
    function load(){

        document.querySelector("#li_Home").addEventListener('click', function (event) {
            window.location.href = "/"
        });

        document.querySelector("#li_Inventory").addEventListener('click', function (event) {
            window.location.href = "/transactions"
        });

        document.querySelector("#btnAdd").addEventListener('click', function (event) {
            window.location.href = "/transactions/add"
        });

        document.querySelector("#li_TotalCost").addEventListener('click', function (event) {
            window.location.href = "/totalCost"
        });

        document.querySelector("#btnClear").addEventListener('click', function (event) {
            clearDatabase()
        });

        getPurchases()
        getDensities()
        getLabors()   
    } 

    function getPurchases(){
        let listId = []
        ajax_get('/transactions/purchases', function(data) {
            let resultContainer = document.querySelector("#divAchat")
            let html = []
            html.push("<table id=\"tablePurchase\">")
            html.push("<tr><td class=\"tableTitle\"  colspan='10'>Purchases</td></tr>")
            html.push("<tr>")  
            html.push("<td class=\"title\">Id</td>")  
            html.push("<td class=\"title\">Item</td>")
            html.push("<td class=\"title\">Unit</td>")
            html.push("<td class=\"title\">Quantity</td>")
            html.push("<td class=\"title\">Date</td>")
            html.push("<td class=\"title\">Subtotal</td>")
            html.push("<td class=\"title\">Tax</td>")
            html.push("<td class=\"title\">Total</td>")
            html.push("<td class=\"title\">Modification</td>")
            html.push("<td class=\"title\">Remove</td>")
            html.push("<tr>")

            data.forEach(element => {
                html.push("<tr id=\"purchase"+element._id.$oid+"\">")   
                html.push("<td id=\"purchaseId"+element._id.$oid+"\">"+element._id.$oid+"</td>")
                html.push("<td id=\"purchaseItem"+element._id.$oid+"\">"+element.item+"</td>")
                html.push("<td class=\"center\" id=\"purchaseUnit"+element._id.$oid+"\">"+element.unit+"</td>")
                html.push("<td class=\"center\" id=\"purchaseQte"+element._id.$oid+"\">"+element.qte+"</td>")
                html.push("<td id=\"purchaseDate"+element._id.$oid+"\">"+element.date+"</td>")
                html.push("<td class=\"center\" id=\"purchaseStotal"+element._id.$oid+"\">"+element.stotal+" $</td>")
                html.push("<td class=\"center\" id=\"purchaseTax"+element._id.$oid+"\">"+element.tax+" $</td>")
                html.push("<td class=\"center\" id=\"purchaseTotal"+element._id.$oid+"\">"+element.total+" $</td>")
                html.push("<td class=\"center\"><button type='button' id=\"btnModifyPurchase" + element._id.$oid + "\">Modify</button></td>")
                html.push("<td class=\"center\"><button type='button' id=\"btnRemovePurchase" + element._id.$oid + "\">Remove</button></td>")
                html.push("<tr>")  

                listId.push(element._id.$oid)  
            });
            html.push("</table>")
            resultContainer.insertAdjacentHTML("beforeend", html.join("\n"))

            listId.forEach(id => {
                document.querySelector("#btnModifyPurchase"+id).addEventListener('click', function (event) {
                    modifyPurchase(id)
                });

                document.querySelector("#btnRemovePurchase"+id).addEventListener('click', function (event) {
                    deletePurchase(id)
                });
            })
        });
    }

    function modifyPurchase(id){
        let item = document.querySelector("#purchaseItem"+id).innerHTML
        let unit = document.querySelector("#purchaseUnit"+id).innerHTML
        let qte = document.querySelector("#purchaseQte"+id).innerHTML
        let stotal = document.querySelector("#purchaseStotal"+id).innerHTML
        let tax = document.querySelector("#purchaseTax"+id).innerHTML
        let total = document.querySelector("#purchaseTotal"+id).innerHTML
        let date = document.querySelector("#purchaseDate"+id).innerHTML

        localStorage.setItem("id",id)
        localStorage.setItem("item",item)
        localStorage.setItem("date",date)
        localStorage.setItem("unit",unit)
        localStorage.setItem("qte",qte)
        localStorage.setItem("stotal",stotal)
        localStorage.setItem("tax",tax)
        localStorage.setItem("total",total)

        window.location.href = "/transactions/modifyPurchase"
    }

    function deletePurchase(id){
        json = JSON.stringify({"id": id})
        ajax_Delete("/transactions/delete/purchase", json , function(data) {
            if(data.result == "Failure" || !(data.result)){
                alert("Error: can't delete this item")
            } else{
                location.reload(true);
            }
        })
    }

    function getDensities(){
        let listId = []
        ajax_get('/transactions/densities', function(data) {
            let resultContainer = document.querySelector("#divDensity")
            let html = []
            html.push("<table id=\"tableDenstiy\">")
            html.push("<tr><td class=\"tableTitle\" colspan='7'>Density</td></tr>")
            html.push("<tr>")  
            html.push("<td class=\"title\">Id</td>")
            html.push("<td class=\"title\">Item</td>")
            html.push("<td class=\"title\">g</td>")
            html.push("<td class=\"title\">ml</td>")
            html.push("<td class=\"title\">Modification</td>")
            html.push("<td class=\"title\">Remove</td>")
            html.push("<tr>")

            data.forEach(element => {
                html.push("<tr id=\"density"+element._id.$oid+"\">")   
                html.push("<td id=\"densityId"+element._id.$oid+"\">"+element._id.$oid+"</td>")
                html.push("<td id=\"densityItem"+element._id.$oid+"\">"+element.item+"</td>")
                html.push("<td class=\"center\" id=\"densityG"+element._id.$oid+"\">"+element.g+"</td>")
                html.push("<td class=\"center\" id=\"densityMl"+element._id.$oid+"\">"+element.ml+"</td>")
                html.push("<td class=\"center\"><button type='button' id=\"btnModifyDensity" + element._id.$oid + "\">Modify</button></td>")
                html.push("<td class=\"center\"><button type='button' id=\"btnRemoveDensity" + element._id.$oid + "\">Remove</button></td>")
                html.push("<tr>")   
                
                listId.push(element._id.$oid)   
            });
            html.push("</table>")
            resultContainer.insertAdjacentHTML("beforeend", html.join("\n"))

            listId.forEach(id => {
                document.querySelector("#btnModifyDensity"+id).addEventListener('click', function (event) {
                    modifyDensity(id)
                });

                document.querySelector("#btnRemoveDensity"+id).addEventListener('click', function (event) {
                    deleteDensity(id)
                });
            })
        });
    }
    
    function modifyDensity(id){
        let item = document.querySelector("#densityItem"+id).innerHTML
        let g = document.querySelector("#densityG"+id).innerHTML
        let ml = document.querySelector("#densityMl"+id).innerHTML

        localStorage.setItem("id",id)
        localStorage.setItem("item",item)
        localStorage.setItem("g",g)
        localStorage.setItem("ml",ml)
        
        window.location.href = "/transactions/modifyDensity"
    }

    function deleteDensity(id){
        json = JSON.stringify({"id": id})
        ajax_Delete('/transactions/delete/density', json , function(data) {
            if(data.result == "Failure" || !(data.result)){
                alert("Error: can't delete this item")
            } else{
                location.reload(true);
            }
        })
    }

    function getLabors(){
        let listId = []
        ajax_get('/transactions/labors', function(data) {
            let resultContainer = document.querySelector("#divTranformation")
            let html = []
            html.push("<table id=\"tableDensity\">")
            html.push("<tr><td class=\"tableTitle\"  colspan='9'>Labors</td></tr>")
            html.push("<tr>")  
            html.push("<td class=\"title\">Id</td>")
            html.push("<td class=\"title\">Job Id</td>")
            html.push("<td class=\"title\">Item</td>")
            html.push("<td class=\"title\">Date</td>")
            html.push("<td class=\"title\">Unit</td>")
            html.push("<td class=\"title\">Qte</td>")
            html.push("<td class=\"title\">Type</td>")
            html.push("<td class=\"title\">Modification</td>")
            html.push("<td class=\"title\">Remove</td>")
            html.push("<tr>")

            data.forEach(element => {
                html.push("<tr id=\"labors"+element._id.$oid+"\">")   
                html.push("<td id=\"laborsId"+element._id.$oid+"\">"+element._id.$oid+"</td>")
                html.push("<td class=\"center\" id=\"laborsJobId"+element._id.$oid+"\">"+element.job_id+"</td>")
                html.push("<td id=\"laborsItem"+element._id.$oid+"\">"+element.item+"</td>")
                html.push("<td id=\"laborsDate"+element._id.$oid+"\">"+element.date+"</td>")
                html.push("<td class=\"center\" id=\"laborsUnit"+element._id.$oid+"\">"+element.unit+"</td>")
                html.push("<td class=\"center\" id=\"laborsQte"+element._id.$oid+"\">"+element.qte+"</td>")
                html.push("<td id=\"laborsType"+element._id.$oid+"\">"+element.type+"</td>")
                html.push("<td class=\"center\"><button type='button' id=\"btnModifyLabors" + element._id.$oid + "\">Modify</button></td>")
                html.push("<td class=\"center\"><button type='button' id=\"btnRemoveLabors" + element._id.$oid + "\">Remove</button></td>")
                html.push("<tr>") 

                listId.push(element._id.$oid)   
            });
            html.push("</table>")
            resultContainer.insertAdjacentHTML("beforeend", html.join("\n"))
            listId.forEach(id => {
                document.querySelector("#btnModifyLabors"+id).addEventListener('click', function (event) {
                    modifyLabors(id)
                });

                document.querySelector("#btnRemoveLabors"+id).addEventListener('click', function (event) {
                    deleteLabors(id)
                });
            })
        });
    }

    function modifyLabors(id){
        let jobId = document.querySelector("#laborsJobId"+id).innerHTML
        let item = document.querySelector("#laborsItem"+id).innerHTML
        let qte = document.querySelector("#laborsQte"+id).innerHTML
        let type = document.querySelector("#laborsType"+id).innerHTML
        let date = document.querySelector("#laborsDate"+id).innerHTML
        let unit = document.querySelector("#laborsUnit"+id).innerHTML
        
        localStorage.setItem("id",id)
        localStorage.setItem("jobId",jobId)
        localStorage.setItem("item",item)
        localStorage.setItem("type",type)
        localStorage.setItem("date",date)        
        localStorage.setItem("qte",qte)
        localStorage.setItem("unit",unit)

        window.location.href = "/transactions/modifyLabors"
    }

    function deleteLabors(id){
        json = JSON.stringify({"id": id})
        ajax_Delete('/transactions/delete/labors', json , function(data) {
            if(data.result == "Failure" || !(data.result)){
                alert("Error: can't delete this item")
            } else{
               location.reload(true);
            }
        })
    }

    function clearDatabase(){

        let password = prompt("Please enter your password", "");
        
        let json = JSON.stringify({"password" : password})

        ajax_Delete('/transactions', json , function(data) {
            if(data.result == "Failure" || !(data.result)){
                alert("Error: Access Denied")
            } else{
                location.reload(true);
            }
        })
    }


</script>

<body onload="load()">
    <header>
            <ul>
                <li id="li_Home">
                    <a>Home</a>
                </li>
                <li id="li_Inventory">
                    <a>Inventory</a>
                </li>
                <li id="li_TotalCost">
                    <a>Total cost</a>
                </li>
                <li id="li_AvgCost">
                    <a>Average Acquisition cost</a>
                </li>
                <li id="li_Image">
                    <a>Past images</a>
                </li>
            </ul>
    </header>

    <h1>Transactions</h1>
    
    <div id="btn">
        <button id="btnAdd">Add item</button>
        <button id="btnClear">Clear database</button>
    </div>

    <div id="divAchat"></div>
    <div id="divDensity"></div>
    <div id="divTranformation"></div>
</body>
</html>